.searchContainer {
    text-align: center;
    bottom: 1em;
    margin: 0.2rem;
    padding: 0.5rem;
    
}

.search {
    font-family: Arial, sans-serif;
    color: antiquewhite;    
}

.sortButton {
    background-color: rgb(50, 49, 49);
    color: antiquewhite;
    margin-left: 2rem;
}
.sortButton:hover {
    border-color: yellowgreen;
}